body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.board {
    position: relative;
    border: 2px solid black;
    width: 800px;
    height: 800px;
    background-color: indigo;
}

.player {
    position: absolute;
    background-color: greenyellow;
    width: 50px;
    height: 50px;
    
}